In [2]:
!pip install sqlalchemy
!pip install psycopg2-binary
!pip install pyarrow

Collecting sqlalchemy
  Using cached SQLAlchemy-2.0.25-cp39-cp39-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (4.9.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Using cached greenlet-3.0.3-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Using cached SQLAlchemy-2.0.25-cp39-cp39-win_amd64.whl (2.1 MB)
Using cached greenlet-3.0.3-cp39-cp39-win_amd64.whl (290 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.25
Requirement already satisfied: psycopg2-binary in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (2.9.9)
Requirement already satisfied: pyarrow in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pyarrow) (1.26.3)

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [22]:
df.to_sql(name='yellow_tripdata_2021-01',con=engine,index=False)

ValueError: Table 'yellow_tripdata_2021-01' already exists.

In [20]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema'

"""
pd.read_sql(query,con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_2021-01,root,None,False,False,False,False

In [29]:
query ="""
SELECT * FROM yellow_tripdata_data LIMIT 10
"""
pd.read_sql(query,con=engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "yellow_tripdata_data" does not exist
LINE 2: SELECT * FROM yellow_tripdata_data LIMIT 10
                      ^

[SQL:
SELECT * FROM yellow_tripdata_data LIMIT 10
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [31]:
parquet_file = 'yellow_tripdata_2021-01.parquet'

In [32]:
# Read Parquet file into a DataFrame
df = pd.read_parquet(parquet_file)

# Replace 'output_file.csv' with the desired CSV file name
csv_file = 'yellow_tripdata_2021-01.csv'

# Write DataFrame to CSV
df.to_csv(csv_file, index=False)

In [33]:
df = pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [38]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [34]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

# Take the dataset to postgres

In [40]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [41]:
engine.connect()

In [42]:
# TO convert dataframe into ddl
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [43]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [44]:
df_iter

In [46]:
df = next(df_iter)

In [47]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3.0,0.70,1.0,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5,NaN
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2.0,3.30,1.0,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5,NaN
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2.0,4.70,1.0,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5,NaN
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2.0,17.95,2.0,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5,NaN
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5.0,0.37,1.0,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5,NaN

In [48]:
len(df)

100000

In [49]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [51]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [53]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

0

In [55]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: total: 12.5 s
Wall time: 58.4 s

1000

In [59]:
from time import time

In [60]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

    t_end = time()
    print("Inserted another chunk...., it took %.3f seconds"% (t_end-t_start))

StopIteration: